{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    <h1>Bienvenido a Instant Salon! Administra <a href="{% url 'wagtailadmin_home' %}">aquí</a></h1>

    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-header">
                <slot name="header">
                  default header
                </slot>
              </div>
                {% for s in page.get_services %}
                    <div class="modal-body">
                        <slot name="body">
                          {{ s.name }} , {{ s.price }}, {{ s.duration }}
                        </slot>
                      </div>
                {% endfor %}

              <div class="modal-footer">
                <slot name="footer">
                    ...
                  <button class="modal-default-button" @click="$emit('close')">
                    Cerrar
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>

<div id="app">
  <button id="show-modal" @click="showModal = true">Mostrar Servicios</button>
  <!-- use the modal component, pass in the prop -->
  <modal v-if="showModal" @close="showModal = false">
    <h3 slot="header">Servicios</h3>
  </modal>
</div>

{% endblock %}
